@{
    ViewData["Title"] = "About";
}

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: calc(100vh - 60px)">
    <h1 class="gradient-text">About Jan Marc</h1>
    <h5>Future Web Developer</h5>

    <p>I aspire to become a successful web developer, dedicated to building modern and user-friendly websites.</p>

    <span>For more information visit my website <a href="https://jacolbia.vercel.app/" class="parag">jacolbia.vercel.app</a></span>
</div>